* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  height: 100vh;
  width: 100%;
}
header {
  background-color: rgb(68, 95, 172);
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  color: #fff;
  overflow-x: auto;
  width: 100%;
}
header .row-1 {
  display: flex;
  justify-content: space-between;
}
.facebook-logo {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  font-size: 2.4rem;
  font-weight: 700;
}

.logins {
  display: flex;
  /* flex-basis: 41%; */
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-right: 4rem;
}
.logins .login-details:nth-child(2) {
  display: flex;
  flex-direction: column;
}
.login-details p {
  margin-bottom: 0.3rem;
  font-weight: 540;
}
.login-details input {
  padding: 0.3rem;
  outline: none;
}

.login-btn {
  background-color: transparent;
  color: #fff;
  border: none;
  height: fit-content;
  align-self: flex-end;
  padding: 0.4rem;
  border-radius: 0.4rem;
  font-weight: 560;
  box-shadow: 2px 2px 6px 2px rgb(39, 49, 76);
  cursor: pointer;
}
.login-btn:hover {
  background-color: rgb(100, 124, 188);
  color: #fff;
  border: none;
  transform: scale(1.1);
  transition: 0.5s ease-out;
}
header span {
  align-self: flex-end;
  position: relative;
  top: 0.5rem;
  right: 13rem;
}
.forget-link {
  color: #ffffffb6;
}
header span:hover {
  transform: translateY(4px);
  transition: 0.5s ease-out;
}
.forget-link:hover {
  color: #ffffffde;
  text-decoration: underline;
}
/* Content */
article {
  display: flex;
  padding: 2rem 0;
  justify-content: space-around;
  background: linear-gradient(white, rgb(234, 241, 241), rgb(225, 236, 236));
  height: 90vh;
  width: 100%;
}
.col-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-basis: 42%;
  overflow: hidden;
  padding: 0 2.6rem;
}
.col-1 p {
  max-width: 65%;
  position: relative;
  top: 1rem;
  font-weight: 600;
  z-index: 1;
  color: rgb(104, 104, 158);
}
.col-1 img {
  width: 60%;
  position: relative;
  top: 2.5rem;
  left: 1rem;
}
.col-2 {
  flex-basis: 40%;
  height: 74vh;
  color: rgb(103, 103, 118);
}
.col-2 h1 {
  margin-bottom: 0.4rem;
  font-size: 2rem;
  color: rgb(64, 64, 71);
}
.col-2 p {
  font-weight: 600;
}
.col-2 form {
  padding: 0.6rem 0;
  display: flex;
  flex-direction: column;
}
.col-2 form .user-name {
  display: flex;
  width: 87%;
  gap: 1rem;
}
input {
  outline: none;
}
.col-2 input {
  margin-bottom: 0.5rem;
  padding: 0.3rem;
  width: 87%;
}
input::placeholder {
  font-size: 11px;
  opacity: 0.7;
}
.email,
.password {
  width: 100%;
}
p {
  font-size: 14px;
}
.birth-date {
  width: fit-content;
  margin-top: 1rem;
}
.birth-date h2 {
  margin-bottom: 0.4rem;
  font-size: 14px;
  font-weight: 600;
}
.birth-date select {
  box-shadow: 1px 1px 4px 0px gray;
  border-radius: 0.3rem;
  padding: 0.3rem;
  outline: none;
  color: #bdbdbd;
}
.birth-date span,
.gender span {
  background-color: #8d8c8c;
  color: #fff;
  border-radius: 50%;
  padding: 0.2rem 0.4rem;
  margin-left: 0.4rem;
  align-self: center;
  font-size: 0.7rem;
}
.gender {
  margin-top: 1rem;
}
.gender h2 {
  font-size: 14px;
  margin-bottom: 1rem;
}
.gender-list {
  margin: 0.4rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.gender-list label {
  position: relative;
  right: 1rem;
  margin-left: 1rem;
  font-weight: 550;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.gender-list label input {
  margin-top: 0.2rem;
}
.gender-list span {
  position: relative;
  right: 1rem;
  top: -0.11rem;
  align-items: center;
}

form p {
  line-height: 1.2rem;
  font-size: 12px;
  max-width: 67%;
}
form p a {
  color: blue;
}
.signUp-btn {
  background: linear-gradient(
    rgb(146, 240, 146),
    rgb(104, 199, 104),
    rgb(56, 141, 56)
  );
  text-shadow: 3px 3px 3px rgba(9, 16, 9, 0.824);

  width: fit-content;
  padding: 0.5rem 3em;
  margin-top: 1rem;
  border-radius: 0.4rem;
  border: none;
  color: #fff;
}
.signUp-btn a {
  color: #fff;
  font-weight: 800;
}
.signUp-btn:hover {
  background: linear-gradient(
    rgba(146, 240, 146, 0.844),
    rgba(104, 199, 104, 0.822),
    rgba(56, 141, 56, 0.824)
  );
}
a {
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  header {
    flex-direction: column;
    /* height: 40vh; */
    justify-content: center;
  }
  .facebook-logo {
    align-self: center;
    flex-basis: 0;
  }
  .row-1 {
    display: flex;
    flex-direction: column;
  }
  .logins {
    align-self: center;
    margin-right: 0;
    flex-direction: column;
    gap: 0;
    flex-basis: 0;
    margin-top: 2rem;
  }

  .login-btn {
    margin-top: 0.5rem;
  }
  header span {
    align-self: center;
    position: relative;
    top: 2rem;
    right: 1.5rem;
  }
  article {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .col-1 {
    align-items: center;
    margin-top: 2rem;
  }
  .col-1 p {
    max-width: 100%;
  }

  .col-2 {
    align-items: center;
    padding: 0 1rem;
  }
  .col-2 .head-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    position: relative;
    top: -1rem;
  }
  .head-child h1 {
    margin-top: 1rem;
    font-size: 25px;
    text-align: center;
  }

  .col-2 .form-container {
    width: 98%;
    align-items: center;
  }

  .col-2 input {
    margin-bottom: 0.5rem;
    padding: 0.3rem;
    width: 100%;
  }
  .col-2 form .user-name {
    width: 100%;
  }
  .birth-date .select-option {
    display: flex;
    flex-direction: row;
  }
  .gender-list {
    margin: 0;
    gap: 0;
    display: flex;
    justify-content: space-between;
  }
  .gender-list label {
    right: 0rem;
    margin-left: 0rem;
    gap: 0rem;
  }
  .gender-list span {
    margin-left: 0.7rem;
  }

  .form-container p {
    max-width: 100%;
    margin-top: 0.5rem;
  }
}
